aiormq==5.2.1
attrs==21.2.0
autopep8==1.5.7
build==0.4.0
coloredlogs==15.0
humanfriendly==9.1
idna==3.1
iniconfig==1.1.1
msgpack==1.0.2
multidict==5.1.0
packaging==20.9
pamqp==3.0.1
pep517==0.10.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
pytest-asyncio==0.15.1
toml==0.10.2
typing-extensions==3.10.0.0
yarl==1.6.3
